---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Background from '~/components/ui/Background.astro';

const metadata = {
  title: 'Rolling Lounge',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Background backgroundImage="/src/assets/images/SkyLoungeVeryDark.png">
    <!-- Hero Widget ******************* -->
      <Hero
        actions={[
          {
            variant: 'primary',
            text: 'Join Rolling Lounge!',
            href: 'https://discord.gg/bEZRMZQ',
            target: '_blank',
          },
          { text: 'Learn more', href: '#contents' },
        ]}
        lightImage={{src: '~/assets/images/rldark.png', alt: 'Rolling Lounge Logo White'}}
        darkImage={{src: '~/assets/images/rl.png', alt: 'Rolling Lounge Logo Black'}}
      >
        <Fragment slot="title">
          <span class="text-accent dark:text-white highlight">Rolling Lounge</span>
        </Fragment>

        <Fragment slot="subtitle">
          <span class="hidden sm:inline">
            <span class="font-semibold">Rolling Lounge</span> is the biggest Rolling Sky community on Discord, featuring the latest Rolling Sky news, a variety of useful assets and contribution possibilities for Rolling Sky players, fanmades and more!
          </span>
          <span class="block mb-1 sm:hidden">The latest Rolling Sky news, useful assets, contribution possibilities, fanmades and more!</span>
        </Fragment>
      </Hero>
    <!-- Note Widget ******************* -->

    <!--  <Note />-->

    <!-- Features Widget *************** -->

    <Features
      id="contents"
      tagline="Contents"
      title="Contents of Rolling Lounge"
      subtitle="Since 2018, Rolling Lounge has served as a central place on Discord for everything Rolling Sky."
      items={[
        {
          title: 'The latest and greatest Rolling Sky news',
          description:
            'With the #rs-news channel, you can always stay up to date on whenever a new level is announced and released and on what else is going on in the Rolling Sky world!',
          icon: 'tabler:news',
        },
        {
          title: 'The latest and safest Rolling Sky download links',
          description:
            'For those not wanting to install the TapTap stores, you can get the latest Rolling Sky apks directly from Rolling Lounge!',
          icon: 'tabler:download',
        },
        {
          title: 'Engagement with other Rolling Sky fans',
          description:
            'You can engage with our large community of almost 9000 members about your interests, some of which are also well-known faces inside the Rolling Sky community - even some official musicians!',
          icon: 'tabler:bubble',
        },
        {
          title: 'Rolling Sky contribution possibilities',
          description:
            'You can submit routes in Rolling Lounge which the Rolling Sky developers can use in their levels. You may also help them improve the translations of Rolling Sky by suggesting improvements!',
          icon: 'tabler:contract',
        },
        {
          title: 'Interactive event and currency system',
          description:
            'You can participate in daily Rolling Sky challenges, in tournaments and other special interactive events, some of which aren\'t RS related!',
          icon: 'tabler:calendar-event',
        },
        {
          title: 'A rich creative corner',
          description:
            "Rolling Lounge has many creative and talented members, most notably artists drawing stunning artworks about both Rolling Sky and other topics. You may also share your photography, music and stories!",
          icon: 'tabler:palette',
        },
      ]}
    />
  </Background>
</Layout>
