<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolling Lounge Join Link</title>
    <meta content="Join Rolling Lounge!" property="og:title" />
    <meta content="The latest Rolling Sky news, game downloads, events, RS fanmades (RSR, RU), creative arts, and most importantly, MOOSES!" property="og:description" />
    <meta content="https://discord.gg/bEZRMZQ" property="og:url" />
    <meta content="https://persistent.rollinglounge.net/assets/images/RollingLoungeAJRIcon.png" property="og:image" />
    <meta content="#BE6B62" data-react-helmet="true" name="theme-color" />

    <script type="text/javascript">
        window.location.href = "https://discord.gg/bEZRMZQ";
    </script>
</head>
<body>
    <p>If you are not redirected automatically, <a href="https://discord.gg/bEZRMZQ">click here</a>.</p>
</body>
</html>
