---
export interface Props {
  isDark?: boolean;
  backgroundImage?: string;
}

const { isDark = false, backgroundImage } = Astro.props;
---

<div class:list={['fixed inset-0', { 'bg-dark dark:bg-transparent': isDark }]} style={`background-image: url(${backgroundImage}); background-size: cover; background-position: center; z-index: -1;`}>
</div>
<div class="relative z-10">
  <slot />
</div>
