---
export interface Props {
  isDark?: boolean;
  backgroundImage?: string;
}

const { isDark = false, backgroundImage } = Astro.props;
---

<style>
  .parallax {
    background-image: url({backgroundImage});
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
</style>

<div class:list={['parallax', { 'bg-dark dark:bg-transparent': isDark }]}></div>
<div class="relative z-10">
  <slot />
</div>
